***Import Libraries***

In [58]:
import pandas as pd
import numpy as np

from matplotlib import pyplot as plt

%matplotlib inline

***Load in CSV Files***

In [ ]:
restarauntDataSet = pd.read_csv('locations.csv')
cuisinesDataSet = pd.read_csv('cuisines.csv')
ratingsDataSet = pd.read_csv('ratings.csv')

#print to make sure they loaded correctly
print(restarauntDataSet)
print(cuisinesDataSet)
print(ratingsDataSet)

     placeID                            name
0     134999                 Kiku Cuernavaca
1     132825                 puesto de tacos
2     135106      El Rinc�n de San Francisco
3     132667  little pizza Emilio Portes Gil
4     132613                   carnitas_mata
..       ...                             ...
125   132866                         Chaires
126   135072                      Sushi Itto
127   135109                       Paniroles
128   135019     Restaurant Bar Coty y Pablo
129   132877                sirloin stockade

[130 rows x 2 columns]
     placeID         cuisine
0     135110         Spanish
1     135109         Italian
2     135107  Latin_American
3     135106         Mexican
4     135105       Fast_Food
..       ...             ...
911   132005         Seafood
912   132004         Seafood
913   132003   International
914   132002         Seafood
915   132001   Dutch-Belgian

[916 rows x 2 columns]
     userID  placeID  rating
0     U1077   135085       2
1     U1077   135038       2
2     U1077   132825       2
3     U1077   135060       1
4     U1068   135104       1
...     ...      ...     ...
1156  U1043   132630       1
1157  U1011   132715       1
1158  U1068   132733       1
1159  U1068   132594       1
1160  U1068   132660       0

[1161 rows x 3 columns]

Here I aggregate the ratings data set to get the average rating and vote count, then add the restaruant and cuisines

In [ ]:
#Get the ratings data
ratingsSummaryDataSet = ratingsDataSet.groupby('placeID').agg(
    averageRating = ('rating', 'mean'),
    voteCount = ('rating', 'count')
).reset_index()

#Add the restaraunt names
restarauntSummaryDataSet = ratingsSummaryDataSet.merge(restarauntDataSet, on='placeID', how='right')

#Add the cuisines
fullSummaryDataSet = restarauntSummaryDataSet.merge(cuisinesDataSet, on='placeID', how='right')

#Prints a bunch of nans but works, not sure why
print(fullSummaryDataSet)

     placeID  averageRating  voteCount                        name  \
0     135110            NaN        NaN                         NaN
1     135109            1.0        4.0                   Paniroles
2     135107            NaN        NaN                         NaN
3     135106            1.2       10.0  El Rinc�n de San Francisco
4     135105            NaN        NaN                         NaN
..       ...            ...        ...                         ...
911   132005            NaN        NaN                         NaN
912   132004            NaN        NaN                         NaN
913   132003            NaN        NaN                         NaN
914   132002            NaN        NaN                         NaN
915   132001            NaN        NaN                         NaN

            cuisine
0           Spanish
1           Italian
2    Latin_American
3           Mexican
4         Fast_Food
..              ...
911         Seafood
912         Seafood
913   International
914         Seafood
915   Dutch-Belgian

[916 rows x 5 columns]

Here is where I filter only by restaraunts that have 10 or more votes and then sort them

In [ ]:
#Restaraunts with at least 10 votes
restarauntsVoteThreshold = fullSummaryDataSet[fullSummaryDataSet['voteCount'] >= 10]

#Sorted
sortedBestRestaraunts = restarauntsVoteThreshold.sort_values(by = 'averageRating', ascending=False)

print(sortedBestRestaraunts)

     placeID  averageRating  voteCount                                name  \
46    135075       1.692308       13.0                Mariscos El Pescador
92    135025       1.666667       15.0          El Rincon de San Francisco
343   132768       1.600000       10.0                  Mariscos Tia Licha
85    135030       1.583333       12.0            Preambulo Wifi Zone Cafe
84    135030       1.583333       12.0            Preambulo Wifi Zone Cafe
88    135028       1.533333       15.0                         La Virreina
355   132754       1.461538       13.0                     Cabana Huasteca
380   132723       1.416667       12.0                   Gordas de morales
264   132862       1.388889       18.0                La Posada del Virrey
90    135026       1.363636       11.0                          la Cantina
91    135026       1.363636       11.0                          la Cantina
44    135085       1.333333       36.0              Tortas Locas Hipocampo
376   132733       1.300000       10.0                       Little Cesarz
294   132825       1.281250       32.0                     puesto de tacos
65    135052       1.280000       25.0              La Cantina Restaurante
66    135052       1.280000       25.0              La Cantina Restaurante
69    135046       1.272727       11.0             Restaurante El Reyecito
58    135057       1.266667       15.0    El Herradero Restaurante and Bar
73    135042       1.250000       20.0         Restaurant Oriental Express
76    135039       1.250000       12.0     Restaurant de Mariscos de Picon
214   132921       1.235294       17.0                            crudalia
3     135106       1.200000       10.0          El Rinc�n de San Francisco
82    135032       1.178571       28.0  Cafeteria y Restaurant El Pacifico
81    135032       1.178571       28.0  Cafeteria y Restaurant El Pacifico
75    135041       1.176471       17.0                           Luna Cafe
74    135041       1.176471       17.0                           Luna Cafe
45    135079       1.176471       17.0                          Koye Sushi
55    135060       1.136364       22.0             Restaurante Marisco Sam
57    135058       1.111111       18.0                Restaurante Tiberius
187   132951       1.000000       10.0                                VIPS
61    135054       1.000000       10.0    Restaurante y Pescaderia Tampico
289   132834       1.000000       25.0                 Gorditas Doa Gloria
511   132572       1.000000       15.0                        Cafe Chaires
252   132872       0.916667       12.0                     Pizzeria Julios
270   132856       0.857143       14.0                       Unicols Pizza
42    135086       0.800000       10.0         Mcdonalds Parque Tangamanga
43    135086       0.800000       10.0         Mcdonalds Parque Tangamanga
53    135069       0.500000       12.0           Abondance Restaurante Bar

              cuisine
46            Seafood
92            Mexican
343            Family
85          Cafeteria
84   Cafe-Coffee_Shop
88            Mexican
355           Mexican
380           Mexican
264     International
90                Bar
91    Bar_Pub_Brewery
44          Fast_Food
376          Pizzeria
294           Mexican
65                Bar
66    Bar_Pub_Brewery
69          Fast_Food
58                Bar
73            Chinese
76            Seafood
214               Bar
3             Mexican
82       Contemporary
81          Cafeteria
75          Cafeteria
74                Bar
45            Chinese
55            Seafood
57           Pizzeria
187          American
61            Seafood
289           Mexican
511         Cafeteria
252          American
270           Italian
42            Burgers
43          Fast_Food
53                Bar

Now I display the ten best restaraunts

In [64]:
topTen = sortedBestRestaraunts.head(10)

print("The ten best restaraunts")
print(topTen[['placeID', 'name', 'cuisine']])

The ten best restaraunts
     placeID                        name           cuisine
46    135075        Mariscos El Pescador           Seafood
92    135025  El Rincon de San Francisco           Mexican
343   132768          Mariscos Tia Licha            Family
85    135030    Preambulo Wifi Zone Cafe         Cafeteria
84    135030    Preambulo Wifi Zone Cafe  Cafe-Coffee_Shop
88    135028                 La Virreina           Mexican
355   132754             Cabana Huasteca           Mexican
380   132723           Gordas de morales           Mexican
264   132862        La Posada del Virrey     International
90    135026                  la Cantina               Bar

Here I get the counts of each cuisine in the top ten, then get the one with the highest count and print it. Since there isn't a tie it is not necessary to account for that

In [ ]:
#Get count of each cuisine
foodCounts = topTen['cuisine'].value_counts()

#Get food with highest count
bestFood = foodCounts.idxmax()

print("Most popular food")
print(bestFood)

Most popular food
Mexican